.clj-kondo/.cache/v1/clj/user.transit.json
.clj-kondo/.cache/v1/lock
temp_chalk.hql
temp_faulty.hql
temp_keyword.hql
temp_lodash.hql
temp_sync.hql
temp_vector.hql
.lsp/.cache/db.transit.json
temp_enum.hql
